
<!-- map div
-->
<div class="container">
  <div class="row">
     <div class="col-md-6">
	 <div id="map" style="width: 550px; height: 350px;"></div>
     </div>
     <div class="col-md-6">
     	<div style="background-color: white;">
	   <table class="table table-hover table-bordered">
             <caption>Recent Flights information </caption> 
	     <thead>	
                 <tr>
                    <th>Key</th>
	            <th> Latitude</th>
                    <th> Longitude</th>
                    <th> Speed </th>
                    <th> Model</th>
	            <th> Origin </th>
	            <th> Destiny </th>
	        </tr>
	     </thead>
	     <tbody>
	        <% @lastAircrafts.each do |aircraft| %>
	           <tr>
	             <td><%= aircraft.key%></td> 
                     <td><%= aircraft.latitude %></td>
	             <td><%= aircraft.longitude %></td>
                     <td><%= aircraft.speed%></td>
	             <td><%= aircraft.model%></td>
	             <td><%= aircraft.origin%></td>
	             <td><%= aircraft.destination%></td>
	           </tr>
	        <% end %>
	     </tbody>
	  </table>
       </div>
     </div>
  </div>
</div>

<script>
  
  $(document).ready(function(){
    var aircraft = '{"latitude":<%= @aircraft.latitude %>, "longitude":<%= @aircraft.longitude %>}';    // pass ruby variable to javascript
    var aircraftJson = JSON.parse(aircraft)    
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    	markers = handler.addMarkers([
   	{
      		"lat": aircraftJson.latitude,
      		"lng": aircraftJson.longitude,
      		"picture": {
        		"url": "https://cdn1.iconfinder.com/data/icons/google_jfk_icons_by_carlosjj/512/places.png",
        		"width":  36,
        		"height": 36
      		},
      		"infowindow": "hello!"
    	}
  	]);
  	handler.bounds.extendWith(markers);
  	handler.fitMapToBounds();
  	handler.getMap().setZoom(17);
  });  
});

</script>
